.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }

span.action, span.name {
  cursor: pointer;
  color: rgb(43, 72, 201);
}
span.delete:hover {
  color: red;
}